*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    padding: 12px 100px;
    height: 94px;
    background-color: #000;
}

header h1{
    width: 70px;
    height: 70px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999px;
    float: left;

}

header h1 a{
    display: block;
    width: 70px;
    height: 70px;
}

header nav{
    margin-left: 168px;
    margin-top: 26px;

}

header li{
    float: left;
    margin-right: 20px;
}

header li a{
    padding: 5px 10px;
    font-size: 18px;
    color: #fff;

}

.active{
    border-bottom: 2px solid rgb(106, 163, 8);
}

main{
    padding: 52px 0 110px 110px;
    clear: both;

}

.social{
    width: 50px;
    height: 100px;
    position: fixed;
    top: 120px;
    right: 0;


}

.facebook, .instagram{ 
    width: 50px;
    height: 50px;
    background-image: url(images/facebook.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 2s;

}
.instagram{ 

    background-image: url(images/instagram.png);
    
  

}

.facebook:hover{

    background-image: url(images/facehover.png);

}

.instagram:hover{
    background-image: url(images/instahover.png);

}

h2{
    font-size: 24px;
}




/* სიმაღლეს არ ვუთითებ */
article{
    width: 300px;
    margin-top: 50px;
    float: left;
    margin-right: 138px;
    margin-bottom: 22px;
   
}

section{
    width: 100%;
    height: 244px;
    border: 1px solid #000;
    background-image: url(images/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
     background-position-y: 58px; 
     position: relative;
}

section h3{
    margin-top: 146px;
    margin-left: 12px;
    font-size: 18px;
} 

section p{
    margin-top: 14px;
    margin-left: 12px;
    font-size: 14px;
}

.like{
    width: 50px;
    height: 50px;
    background-image: url(images/like.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.like:hover{
    background-image: url(images/like\ 2.png);
}

article .link{
    margin-top: 10px;
}

article .link a{
    font-size: 12px;
    color: #000;


}
/* ფლოატი რასაც უწერია იმას უნდა დავუწერო დაშორება რომ შემდეგი ელემენტი დაშორდეს */
.latest{
    clear: both;
    margin-top: 22px;
}

/* ფუტერს ზომას არ ვაძლევთ. ელემენტები რაც იქნება შიგნით, ეგ შეავსებს და გზარდის ზომას*/

footer{
    clear: both;
    padding: 28px 18px;
    background-color: #000;
}

.logo{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* ფლოატ და მერჯინ 0 აუტო არ მუშაობს */
.logo a{
    display: block;
    width: 150px;
    height: 150px;
}
footer nav{
    margin-top: 28px;
}

footer ul{
    width: 100%;
    text-align: center;
}

footer li a{
    color: #fff;
    font-size: 18px;
}



footer .rights{
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-size: 18px;
}





/* ----------------მეორე გვერდი----------------------------- */

.list{
    width: 280px;
    height: 361px;
    text-align: center;
    padding-bottom: 46px;
}

.list:hover{
    width: 345px;
    height: 400px;
    background-color: rgb(187, 181, 181);
    box-shadow: 0 0 20px rgb(124, 119, 119);
}
article .play{
    display: block;
    margin-bottom: 51px;
    font-size: 24px;
    margin-right: 157px;
    
    
}

.musica{
    width: 185px;
    height: 65px;
    clear: both;
    background-image: url(images/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    margin-left: 448px;
}
   
.list2{
    width: 280px;
    height: 361px;
    margin-right: -10px;
    text-align: center;

    
}
.list2:hover:hover{
    width: 345px;
    height: 400px;
    background-color: rgb(187, 181, 181);
    box-shadow: 0 0 20px rgb(124, 119, 119);
}

.bye{
    width: 343px;
    height: 42px;
    font-size: 36px;
    margin-left:  419px; 
    margin-top: 49px;
    font-weight: 400;
}